<br />
<ul>
    <li>
        <a href="https://gitlab.com/hect-software/rianu" target="_blank"
        rel="noopener">Repository</a>
    </li>
    <li>
        <a href="https://jack.engineering" target="_blank"
        rel="noopener">Maintained by Jack F. Murphy</a>
    </li>
</ul>
<hr />
